* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(189, 189, 189);
    font-family: Arial, Helvetica, sans-serif;
}

.slide .img-slide{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1000ms;
}

.slide img.selected {
    opacity: 0.4;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container-main {
    max-width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

main .container-logomarca {
    margin-top: 64px;
    width: 6rem;
    z-index: 99;
    border-radius: 50%;
}

main .container-logomarca .img-logo {
    width: 100%;
    border-radius: 50%;
}    

main .text {
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

main .text p {
    font-size: 18px;
}

main .btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 160px;
}

main .btn a {
    text-decoration: none;
    color: black;
    background-color: #1CCE4E;
    padding: 4px 24px;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    z-index: 99;
    opacity: 0.6;
    transition: 0.3s;
}

main .btn a:hover {
    opacity: 1;
}

main .btn a:active {
    transform: scale(0.8);
}

main .btn .btn-link:active {
    transform: scale(0.8);
}

main .btn-link img {
    width: 32px;
    border-radius: 50%;
}

main .btn-link .whatsapp {
    background-color: white;
    padding: 1.8px 1.8px;
}


main .btn a:nth-child(1) {
    animation: down-up 2s normal;
}


main .btn a:nth-child(2) {
    animation: down-up 3s normal;
}

main .btn a:nth-child(3) {
    animation: down-up 4s normal;
}

main .container-main .text h1{
    max-width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    animation: 
    opacity 10s normal,
    blikCursor 500ms steps(40) infinite normal, 
    typing 4s steps(40) 3s normal;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blikCursor {
    from { 
        border-right-color: white;
    }

    to {
        border-right-color: transparent;
    }
}

@keyframes down-up {
    from {
        margin-top: 100px;
    }

    to {
        margin-top: 0;
    }
}


@media (max-width: 400px) {
    main .btn {
        margin-top: 120px;
    }
}

@media (max-width: 370px) {
    main .btn {
        margin-top: 80px;
    }
}

